<application>
  <component name="MyBatisCodeHelper">
    <option name="profile">
      <Profile>
        <option name="generateWithIfTest" value="true" />
        <option name="ifTestStringNullAndEmpty" value="true" />
        <option name="mybatisGeneratorMapperSuffix" value="Dao" />
        <option name="mybatisGeneratorModelSuffix" value="Dao" />
        <option name="tempFilePath" value="/var/folders/hk/_shnczh55mz3z7l_qvpg7bz00000gn/T/startLearnGo-darwin-10.6-amd64.dylib7149914713204456355" />
        <option name="usejava8LocalDateTimeEct" value="true" />
        <option name="valid" value="true" />
      </Profile>
    </option>
  </component>
</application>