<application>
  <component name="MyBatisCodeHelper">
    <option name="profile">
      <Profile>
        <option name="generateWithIfTest" value="true" />
        <option name="ifTestStringNullAndEmpty" value="true" />
        <option name="usejava8LocalDateTimeEct" value="true" />
        <option name="valid" value="true" />
      </Profile>
    </option>
  </component>
</application>